html, body {
  height: 100%;
}

a {
  color: #151515;
}

.navbar {
  border: none;
}

ul.nav a:hover {
  color: #000;
  text-decoration: none;
  background-color: rgba(150, 150, 150, 0.8);
}

.main_container {
  height: 100%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  margin: 0;
}

#first_content{
  background-image: url('../img/first.jpg');
  background-size: cover;
}

#second_content{
  background-image: url('../img/second.jpg');
  background-size: cover;
}

#third_content{
  background-image: url('../img/third.jpg');
  background-size: cover;
}

.content_size {
  height: 100%;
}