html, body {
  height: 100%;
}

a {
  color: #151515;
}

.navbar {
  border: none;
}

ul.nav a:hover {
  color: #000;
  text-decoration: none;
  background-color: rgba(150, 150, 150, 0.8);}

.navbar {
  background-color: none;
  border-radius: 0;
  margin: 0;
}

.content_size {
  height: 100%;
}

#first_content{
  background-image: url('../img/second.jpg');
  background-size: cover;
  position: relative;
}

#menu_container {
  border: solid;
  position: absolute;
  width: 100%;
  height: 200px;
  text-align: center;
  top: 60%;
  left: 0;
}

#menu_inner {
  width: 100%;
  height: 100%;
  position: relative;
}

#menu_button {
  background-color: #000;
  opacity: 0.2;
  height: 50px;
  width: 300px;
  top: 75px;
  position: absolute;
}

#menu_button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  line-height: 50px;
  color: #fff;
}

/*#menu_list {
  transform: scaleY(calc(1/50.2));
}*/