html, body {
  height: 100%;
  background-color: #fff;
}

#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#sWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

#splash {
  width: 100%;
  height: 100%;
  position: relative;
}

#yohji {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  height: 80%;
  margin: auto;
}

.main_container {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar {
  border: none;
}

ul.nav a:hover {
  color: #000;
  text-decoration: none;
  background-color: rgba(150, 150, 150, 0.8);}

.navbar {
  background-color: none;
  border-radius: 0;
  margin: 0;
}

.content_size {
  height: 100%;
}

#first_content{
  background-image: url('../img/second.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

#menu_container {
  position: absolute;
  width: 100%;
  height: 150px;
  text-align: center;
  top: 60%;
  left: 0;
}

#menu_inner {
  width: 100%;
  height: 100%;
  position: relative;
}

#menu_button {
  background-color: rgba(80, 80, 80, 0.2);
  height: 50px;
  width: 300px;
  top: 75px;
  left: 0;
  position: absolute;
}

#menu_button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  line-height: 50px;
  color: #000;
}

#menu_list {
  padding-left: 0;
  position: absolute;
  height: 100%;
  width: 0;
  background-color: rgba(80, 80, 80, 0);
}

#menu_list li {
  list-style: none;
  width: 150px;
  height: 50px;
  float: left;
}

#menu_list li a{
  line-height: 50px;
  opacity: 0;
  font-size: 20px;
  font-weight: lighter;
  color: #000;
  text-decoration: none;
}